{% extends 'layout/layout.html' %}
{% load static %}
{% load filters %}
{% block content %}
    <div class="hero-text-box">
        <h1>Choose an enrichment method</h1>
    </div>
    <div class="search-box">
      <input type="text" placeholder="Search" id="quicksearch"/>
      <button type="submit" class="search-btn"><i class="fa fa-search"></i></button>
    </div>
    <section id="searchgrid">
    {% for enrich_objs in enrichment_info.values %}
        {% for enrich_obj in enrich_objs %}
        <button class="button search-item" onclick="setTimeout(function(){location.href=generate_url({{ enrich_obj.enrichment_id }},'{{ reroute_string }}');},500);"> {{ enrich_obj.enrichment_name }}</button>
        {% endfor %}
    {% endfor %}
    </section>
    <br/>
    {% if got_item %}
        <div id='results' class="hero-text-box">
            <h1 class="fancy"><strong>{{ enrichment_retd.enrichment_name }} - {{ enrichment_retd.enrichment_type }}</strong></h1>
        </div>
        <div id="filters" class="single-sel-group button-group">
            <button class="button" data-filter=".refs">References</button>
            <button class="button" data-filter=".desc">Description</button>
        </div>
        <div class="option-grid">
        {% if references %}
            <ol class="gradient-list">
            {% for reference in references %}
                <li class="grid-item refs"><strong>[{{ reference.id }}]</strong> {{ reference.citation }}</li>
            {% endfor %}
            </ol>
        {% endif %}
            {% if description %}
            <ol class="gradient-list">
                <li class="grid-item desc">
                    {{ description }}
                </li>
            </ol>
            {% endif %}
        </div>
    {% endif %}
{% endblock %}