{% extends 'layout/layout.html'%}

{% block content %}
    <div class="section-features js--section-features" id="features">
        <div class="hero-text-box">
            <h1 class="fancy">Search By</h1>
        </div>

        <!-- The row and col classes are are inherited from grid.css i.e. the fluidgrid setup we are using. span-1-of-4 implies split the row into 4 columns and assign the content within this div 1 column out of the 4.
        <a class="btn btn-full js--scroll-to-plans" href="#">I'm hungry</a>
        <a class="btn btn-ghost js--scroll-to-start" href="#">Show me more</a>
        -->
        <div class="row">
            <div class="col span-1-of-2 box">
                <a class="btn btn-full" id="tech" href="/mdpbasic/">Techniques</a>
            </div>
            <div class="col span-1-of-2 box">
                <a class="btn btn-full" id="qm" href="/qmbasic/">Quality Measures</a>
            </div>
        </div>
        <div class="row">
            <div class="col span-1-of-3 box">
                <a class="btn btn-full" id="task" href="/taskbasic/">Tasks</a>
            </div>
            <div class="col span-1-of-3 box">
                <a class="btn btn-full" id="lang" href="/lang_langs">Languages</a>
            </div>
            <div class="col span-1-of-3 box">
                <a class="btn btn-full" id="enr" href="/enrichbasic/">Enrichments</a>
            </div>
        </div>
    </div>
{% endblock %}
