{% extends 'layout/layout.html'%}

{% block content %}
    <div class="section-features js--section-features" id="features">
        <div class="row">
            <!-- if we want a long dash we need to use a special character i.e. &mdash; -->
            <h2>Search By</h2>
        </div>

        <!-- The row and col classes are are inherited from grid.css i.e. the fluidgrid setup we are using. span-1-of-4 implies split the row into 4 columns and assign the content within this div 1 column out of the 4.
        <a class="btn btn-full js--scroll-to-plans" href="#">I'm hungry</a>
        <a class="btn btn-ghost js--scroll-to-start" href="#">Show me more</a>
        -->
        <div class="row">
            <div class="col span-1-of-2 box">
                <a class="btn btn-full" id="tech" href="#">Techniques</a>
            </div>
            <div class="col span-1-of-2 box">
                <a class="btn btn-full" id="qm" href="#">Quality Measures</a>
            </div>
        </div>
        <div class="row">
            <div class="col span-1-of-3 box">
                <a class="btn btn-full" id="task" href="#">Tasks</a>
            </div>
            <div class="col span-1-of-3 box">
                <a class="btn btn-full" id="lang" href="#">Languages</a>
            </div>
            <div class="col span-1-of-3 box">
                <a class="btn btn-full" id="enr" href="#">Enrichments</a>
            </div>
        </div>
    </div>
{% endblock %}
