{% extends 'layout/layout.html' %}
{% load static %}
{% load filters %}
{% block content %}
    <div class="hero-text-box">
        <h1>Choose a projection technique</h1>
    </div>
    <button id='langlangs_link' class='button' onclick="setTimeout(function(){location.href='/lang_langs';},500);">Search by Language</button>
    <div class="search-box">
      <input type="text" placeholder="Search" id="quicksearch"/>
      <button type="submit" class="search-btn"><i class="fa fa-search"></i></button>
    </div>
    <section id="searchgrid">
    {% for method in methods_list %}
        <button  class="button search-item" onclick="setTimeout(function(){location.href=generate_url({{ method.mdp_id }},'{{ reroute_string }}');},500);"> {{ method.mdp_name }}</button>
    {% endfor %}
    </section>
    <br/>
    {% if got_item %}
        <div class="hero-text-box" id="results">
            <h1 class="fancy"><strong>{{ proj_name }}</strong></h1>
        </div>
        <div id="filters" class="single-sel-group button-group">
            <button class="button" data-filter=".Toolboxes_list">Toolboxes</button>
            <button class="button" data-filter=".Libraries_List">Libraries</button>
            <button class="button" data-filter=".refs">References</button>
            <button class="button" data-filter=".desc">Description</button>
        </div>
        <div class="option-grid">
        {% for key, values in language_data.items %}
{#            <p>{{ key|display_string }}</p>#}
            <ol class="gradient-list">
            {% for language in values %}
                <li class="grid-item {{ key }}">
                    <strong>Programming Language / Library : </strong><button class="button" onclick="setTimeout(function(){location.href=generate_url({{ language.0|indexing:0 }},'{{ inter_route }}');},500);">{{ language.0|indexing:1 }}</button>
                {% if language.0 or language.1 %}
                    <br/><br/>
                    {% if language.0|indexing:2 %}
                        <p>Description: {{ language.0|indexing:2 }}</p>
                        <br/>
                    {% endif %}
                {% if language.1 %}
                <ul>
                {% for toolbox in language.1 %}
                    <li><strong>Toolbox Name : </strong>{{ toolbox.toolbox_name }}
                    {% if toolbox.description %}
                        <br/>
                        <p>Description: {{ toolbox.description }}</p>
                    {% endif %}
                {% if toolbox|get_refs %}
                    <br/>
                    <strong>References : </strong>
                    <ul>
                    {% for reference in toolbox|get_refs %}
                        <li><strong>[{{ reference.id }}]</strong> {{ reference.citation }}</li>
                    {% endfor %}
                    </ul>
                {% endif %}
                    </li>
                {% endfor %}
                </ul>
                {% endif %}
                </li>
                {% endif %}
            {% endfor %}
            </ol>
        {% endfor %}
        {% if references %}
            <ol class="gradient-list">
            {% for reference in references %}
                <li class="grid-item refs"><strong>[{{ reference.id }}]</strong> {{ reference.citation }}</li>
            {% endfor %}
            </ol>
        {% endif %}
        {% if description %}
        <p class="grid-item desc">
        {{ description }}
        </p>
        {% endif %}
        </div>
        {% endif %}
{% endblock %}