{% extends 'layout/layout.html' %}
{% load static %}

{% load filters %}
{% block content %}
    <div class="query-type button-group">
      <button class="button is-checked" id="All" onclick="btn_fn(this, ['All', 'Any'])" value=1>All</button>
      <button class="button" id="Any" onclick="btn_fn(this, ['All', 'Any'])">Any</button>
      <button class="button is-checked" id="Inc" onclick="btn_fn(this, ['Inc', 'Exc'])" value=1>Include</button>
      <button class="button" id="Exc" onclick="btn_fn(this, ['Inc', 'Exc'])">Exclude</button>
    </div>
    <div class="hero-text-box">
        <h1 class="fancy">Select your parameters</h1>
    </div>
    <div class="search-box">
      <input type="text" placeholder="Search" id="quicksearch"/>
      <button type="submit" class="search-btn"><i class="fa fa-search"></i></button>
    </div>
    <div id="filters" class="single-sel-group button-group">
    <!--  <button class="button is-checked" data-filter="*">Show All</button>-->
      <button class="button is-checked" id="watchButton" data-filter=".dt">Data Types</button>
      <button class="button" data-filter=".props">Properties</button>
    </div>
    {#<p>Data Type</p>#}
    {#<ul>#}
    <div class="grid">
    {% for type in link_data %}
        <button class="button grid-item search-item dt" id={{ type.0 }} onclick="sel_desel(this)">{{ type.1 }}</button>
    {% endfor %}
    {% for prop in link_props %}
        <button class="button grid-item search-item props" id={{ prop.0 }} onclick="sel_desel(this)">{{ prop.1 }}</button>
    {% endfor %}
    </div>
    <button id='submit' class='button' onclick="setTimeout(function(){location.href=generate([{{ link_data|id_names:0|safe }}, {{ link_props|id_names:0|safe }}, {{ filter_options|safe }}]);},500);">Submit</button>
    {% if results %}
    <div id="results">
    <div class="hero-text-box">
        <h1 class="fancy">Filtered Results</h1>
    </div>
    <ul>
        {% for result in results %}
            <li><button class='button' onclick="setTimeout(function(){location.href=generate_url({{ result.mdp_id }}, '{{ reroute_string }}');},500);">{{ result.mdp_fullname  }} ({{ result.mdp_name }})</button></li>
        {% endfor %}
    </ul>
    </div>
    {% endif %}
{% endblock %}