{% extends 'layout/layout.html' %}
{% load static %}
{#Make it so that the full name is rendered within a span but that span display is hidden. So it will still work to filter#}
{#the method by its full name but it just won't make it look ugly by displaying the full name.#}
{% load filters %}
{% block content %}
    <div class="hero-text-box">
        <h1>Choose a projection technique</h1>
    </div>
    <button id='advd_link' class='button' onclick="setTimeout(function(){location.href='/mdpadvd';},500);">Go to Advanced Querying</button>
    <div class="search-box">
      <input type="text" placeholder="Search" id="quicksearch"/>
      <button type="submit" class="search-btn"><i class="fa fa-search"></i></button>
    </div>
    <section id="searchgrid">
        {% for mdp in mdp_list %}
            <button class="button search-item" onclick="setTimeout(function(){location.href=generate_url({{ mdp.mdp_id }},'{{ reroute_string }}');},500);">{{ mdp.mdp_name }}<span>{{ mdp.mdp_fullname }}</span></button>
        {% endfor %}
    </section>
    <br/>
    {% if got_item %}
        <div class="hero-text-box" id="results">
            <h1 class="fancy"><strong>{{ projtechname.0 }} - ( {{ projtechname.1 }} )</strong></h1>
        </div>

        <div id="filters" class="single-sel-group button-group">
        <!--  <button class="button is-checked" data-filter="*">Show All</button>-->
          <button class="button is-checked" id="watchButton" data-filter=".dt">Data Types</button>
          <button class="button" data-filter=".tax">Taxonomy</button>
          <button class="button" data-filter=".comp">Complexity</button>
          <button class="button" data-filter=".refs">References</button>
          <button class="button" data-filter=".vars">Variants</button>
          <button class="button" data-filter=".desc">Description</button>
        </div>
        <div class="option-grid">
            <ol class="gradient-list">
            {% for handling_capacity in data_type_vals %}
                {% if handling_capacity != None %}
                    <li class="grid-item dt">
                        <strong>{{ text_display|indexing:forloop.counter0}}</strong> : {{ handling_text|indexing:handling_capacity }}
                    </li>
                {% endif %}
            {% endfor %}
            </ol>
            <ol class="gradient-list">
            {% for handling_capacity in tax_vals %}
                {% if handling_capacity != None %}
                    <li class="grid-item tax">
                        <strong>{{ text_tax|indexing:forloop.counter0}}</strong> : {{ handling_text|indexing:handling_capacity }}
                    </li>
                {% endif %}
            {% endfor %}
            </ol>
                <ol class="gradient-list">
                    <li class="grid-item comp">{{ complexity }}</li>
                </ol>
                <ol class="gradient-list">
                    <li class="grid-item refs"><strong>[{{ reference.id }}]</strong> {{ reference.citation }}</li>
                </ol>
            {% if varrefno or tech_variants %}
                <ol class="gradient-list">
                    {% for varref in varrefno %}
                        <li class="grid-item vars"><strong>[{{ varref.id }}]</strong> {{ varref.citation }}</li>
                    {% endfor %}
                    {% for tech_variant in tech_variants %}
                        <li class="grid-item vars"><strong>{{ tech_variant.0 }}</strong> : {{ tech_variant.1}}</li>
                    {% endfor %}
                </ol>
            {% endif %}
            {% if description %}
            <p class="grid-item desc">Description<br/>
            {{ description }}
            </p>
            {% endif %}
        </div>
    {% endif %}

{#<script>#}
{#</script>#}
{#        <script src="{% static 'js/pen_script.js' %}"></script>#}

{% endblock %}