{% extends 'layout/layout.html' %}
{% load static %}

{% load filters %}
{% block content %}
    <button id='basic_link' class='button' onclick="setTimeout(function(){location.href='/qmbasic';},500);">Go to Basic Querying</button>

    <div class="query-type button-group">
      <button class="button is-checked" id="All" onclick="btn_fn(this, ['All', 'Any'])" value=1>All</button>
      <button class="button" id="Any" onclick="btn_fn(this, ['All', 'Any'])">Any</button>
      <button class="button is-checked" id="Inc" onclick="btn_fn(this, ['Inc', 'Exc'])" value=1>Include</button>
      <button class="button" id="Exc" onclick="btn_fn(this, ['Inc', 'Exc'])">Exclude</button>
    </div>
    <div class="hero-text-box">
        <h1 class="fancy">Select your parameters</h1>
    </div>
    <div id="filters" class="single-sel-group button-group">
    {% for key in qm_fieldnames.keys %}
        {% if "Output" not in key %}
            <button class="button" data-filter=".{{key.1}}">{{key.0}}</button>
        {% endif %}
    {% endfor %}
      <button class="button" data-filter=".range">Range</button>
      <button class="button" data-filter=".best">Best</button>
    </div>
    <div class="option-grid">
    {% for key, value in qm_fieldnames.items %}
        {% if "Output" not in key %}
            {% for field_name in value %}
                <button class="grid-item button {{ qm_fieldnames.items|indexing:forloop.parentloop.counter0|indexing:0|indexing:1 }}" id={{ field_name }} onclick="sel_desel(this)">{{ parameter_text|indexing:forloop.parentloop.counter0|indexing:forloop.counter0 }}</button>
            {% endfor %}
        {% endif %}
    {% endfor %}
    {% for range_eqn, eqn_id in range_options %}
        <button class="grid-item button range" id="range_eqn{{ eqn_id }}" onclick="single_select(this, {{ range_strings|safe }})">{{ range_eqn }}</button>
    {% endfor %}
        <button class="grid-item button best" id="best0" onclick="single_select(this, ['best0', 'best1'])">0</button>
        <button class="grid-item button best" id="best1" onclick="single_select(this, ['best0', 'best1'])">1</button>
    </div>
<button id="submit" class="button" onclick="setTimeout(function(){location.href=generate_qm();},500);">Submit</button>
    {% if results %}
    <div id="results">
    <div class="hero-text-box">
        <h1 class="fancy">Filtered Results</h1>
    </div>
    <ul>
        {% for result in results %}
            <li><button class='button' onclick="setTimeout(function(){location.href=generate_url({{ result.measure_id }}, '{{ reroute_string }}');},500);">{{ result.mdp_fullname  }} ({{ result.measure_name }})</button></li>
        {% endfor %}
    </ul>
    </div>
    {% endif %}

<script>

function generate_qm(el) {
    var url_path;
    /* Base url path has been defined. After that link_data|id_names:0 will return the list of element ids on the
    page following which we get each element by id after typecasting it to a string (this is necessary because otherwise
    if you check the generated source code you will see that there are no quotes around the id name and this raises
    a getElementById null error. The query_update filter will append =Yes& to the id field. Then the string is returned
    at the end. */
    /* Can't just directly use location.href and keep appending to that because otherwise every time the page is loaded
    the previous parameters will get retained regardless of whether the user has selected them or not. So we split the
    URL at the first occurrence of the ? (after which the previously selected parameters will be found) and retain
    only the 0th element of the split which corresponds to the base URL we want. */
    url_path = location.href.split('?')[0] + "?";
    console.log(url_path);

    {% for _, value in qm_fieldnames.items %}
        {% for elem_id in value %}
            {#Have to do this otherwise I get element document.getElementbyId null error while trying to get the rangee #}
            {#button since it doesn't exist#}
            {% if elem_id != "rangee" and elem_id != "best" %}
            if (document.getElementById("{{ elem_id }}").value == 1) {
            url_path += "{{ elem_id }}=Yes&";
    }
            {% endif %}
        {% endfor %}
    {% endfor %}
    {% for elem_id in filter_options %}
    if (document.getElementById("{{ elem_id }}").value == 1) {
        url_path += "{{ elem_id }}=Yes&";
    }
    {% endfor %}
    {% for range_eqn, eqn_id in range_options %}
    if (document.getElementById("range_eqn{{ eqn_id }}").value == 1) {
                url_path += "range_eqn{{ eqn_id }}=Yes&";
        }
    {% endfor %}
    {% for elem_id in best_options %}
    if (document.getElementById("{{ elem_id }}").value == 1) {
                url_path += "{{elem_id}}=Yes&";
        }
    {% endfor %}

    //console.log(url_path);
return url_path;
}
</script>

{% endblock %}