{% extends 'layout/layout.html' %}
{% load static %}
{% load filters %}
{% block content %}
    <div class="hero-text-box">
        <h1>Choose a quality measure</h1>
    </div>
    <button id='advd_link' class='button' onclick="setTimeout(function(){location.href='/qmadvd';},500);">Advanced Querying</button>
    <div class="search-box">
      <input type="text" placeholder="Search" id="quicksearch"/>
      <button type="submit" class="search-btn"><i class="fa fa-search"></i></button>
    </div>
    <section id="searchgrid">
        {% for qmeasure in qm_list %}<button class="button search-item" onclick="setTimeout(function(){location.href=generate_url({{ qmeasure.measure_id }},'{{ reroute_string }}');},500);">
            {{ qmeasure.measure_name }}
        </button>
        {% endfor %}
    </section>
    <br/>
    {% if got_item %}
        <div class="hero-text-box" id="results">
            <h1 class="fancy"><strong>{{ measure_method.measure_name }}</strong></h1>
        </div>
        <div id="filters" class="single-sel-group button-group">
        {% for key, _ in qm_fielditems %}
            <button class="button" data-filter=".{{ key.1 }}">{{ key.0 }}</button>
        {% endfor %}
            <button class="button" data-filter=".refs">References</button>
            <button class="button" data-filter=".desc">Description</button>
        </div>
        <div class="option-grid">
        {% for key, value in qm_fielditems %}
            <ol class="gradient-list">
            {% for parameter in field_vals|indexing:forloop.counter0|indexing:0 %}
                {% if parameter != None %}
                    {% if not parameter.mathjaxeqn %}
                        <li class="grid-item {{ qm_fielditems|indexing:forloop.parentloop.counter0|indexing:0|indexing:1 }}">
                            <strong>{{ field_vals|indexing:forloop.parentloop.counter0|indexing:1|indexing:forloop.counter0 }}</strong> :
                            {{ field_vals|indexing:forloop.parentloop.counter0|indexing:0|indexing:forloop.counter0|param_val:"parameter_option"}}
                        </li>
                    {% else %}
                        <li class="grid-item op">
                            <strong>{{ field_vals|indexing:forloop.parentloop.counter0|indexing:1|indexing:forloop.counter0 }}</strong> :
                            {{ field_vals|indexing:forloop.parentloop.counter0|indexing:0|indexing:forloop.counter0|param_val:"mathjaxeqn" }}
                        </li>
                    {% endif %}
                {% endif %}
            {% endfor %}
            </ol>
        {% endfor %}
        {% if references %}
        <ol class="gradient-list">
        {% for reference in references %}
            <li class="grid-item refs"><strong>[{{ reference.id }}]</strong> {{ reference.citation }}</li>
        {% endfor %}
        </ol>
        {% endif %}
            {% if description %}
            <ol class="gradient-list">
                <li class="grid-item desc">
                    {{ description }}
                </li>
            </ol>
            {% endif %}
        </div>
    {% endif %}
{% endblock %}