{% extends 'layout/layout.html' %}
{% load static %}
{% load filters %}
{% block content %}
    <div class="hero-text-box">
        <h1>Choose a task</h1>
    </div>
    <div class="search-box">
      <input type="text" placeholder="Search" id="quicksearch"/>
      <button type="submit" class="search-btn"><i class="fa fa-search"></i></button>
    </div>
    <section id="searchgrid">
    {% for task in task_list %}
        <button  class="button search-item" onclick="setTimeout(function(){location.href=generate_url({{ task.task_id }},'{{ reroute_string }}');},500);"> {{ task.task_name }}</button>
    {% endfor %}
    </section>
    <br/>
   {% if got_item %}
        <div class="hero-text-box" id="results">
            <h1 class="fancy"><strong>{{ task_retd.task_name }}</strong></h1>
        </div>
        <div id="filters" class="single-sel-group button-group">
            {% for field_data in task_fields %}
                <button class="button" data-filter=".{{ field_data.3 }}">{{ field_data.0 }}</button>
            {% endfor %}
            <button class="button" data-filter=".refs">References</button>
            {% if children %}
                <button class="button" data-filter=".child">Child Tasks</button>
            {% endif %}
            {% if numbers %}
                <button class="button" data-filter=".nums">Numbers</button>
            {% endif %}
            {% if parent_obj %}
                <button class="button" data-filter=".parent">Parent Task</button>
            {% endif %}
            <button class="button" data-filter=".desc">Description</button>
        </div>
        <div class="option-grid">
            {% for field_data in task_fields %}
                <ol class="gradient-list">
                {% if field_data.0 != "Actor" %}
                <li class="grid-item {{ field_data.3 }}">
                    {{ task_retd|task_filter:field_data.1|task_filter:field_data.2 }}
                </li>
                {% endif %}
                </ol>
            {% endfor %}
                <ol class="gradient-list">
                <li class="grid-item act">
                    {{ task_retd.get_actor_display }}
                </li>
                </ol>
            <ol class="gradient-list">
                <li class="grid-item refs"><strong>[{{ reference.id }}]</strong> {{ reference.citation }}</li>
            </ol>
            {% if parent_obj %}
                <button class="grid-item button parent" onclick="setTimeout(function(){location.href=generate_url({{ parent_obj.0 }},'{{ reroute_string }}');},500);">{{ parent_obj.1 }}</button>
            {% endif %}
            {% if children %}
                {% for child in children %}
                    <button class="grid-item button child" onclick="setTimeout(function(){location.href=generate_url({{ child.task_id }},'{{ reroute_string }}');},500);">{{ child.task_name }}</button>
                {% endfor %}
            {% endif %}
            {% if numbers %}
                {% for number in numbers %}
                    <button class="grid-item button nums" onclick="setTimeout(function(){location.href=generate_url({{ number.task_id }},'{{ reroute_string }}');},500);">{{ number.task_name }}</button>
                {% endfor %}
            {% endif %}
            {% if description %}
            <p class="grid-item desc">
            {{ description }}
            </p>
            {% endif %}
        </div>
   {% endif %}
{% endblock %}