{% extends 'layout/layout.html' %}
{% load static %}

{% load filters %}
{% block content %}

    <button id='basic_link' class='button' onclick="setTimeout(function(){location.href='/taskbasic';},500);">Go to Basic Querying</button>
    <div class="query-type button-group">
      <button class="button is-checked" id="All" onclick="btn_fn(this, ['All', 'Any'])" value=1>All</button>
      <button class="button" id="Any" onclick="btn_fn(this, ['All', 'Any'])">Any</button>
      <button class="button is-checked" id="Inc" onclick="btn_fn(this, ['Inc', 'Exc'])" value=1>Include</button>
      <button class="button" id="Exc" onclick="btn_fn(this, ['Inc', 'Exc'])">Exclude</button>
    </div>
        <div class="hero-text-box">
        <h1 class="fancy">Select your parameters</h1>
    </div>
    <div class="search-box">
      <input type="text" placeholder="Search" id="quicksearch"/>
      <button type="submit" class="search-btn"><i class="fa fa-search"></i></button>
    </div>
    <div id="filters" class="single-sel-group button-group">
    {% for key in task_fieldoptions.keys %}
        <button class="button" data-filter=".{{ task_fieldnames|indexing:forloop.counter0|indexing:1 }}">
            {{ task_fieldnames|indexing:forloop.counter0|indexing:0 }}
        </button>
    {% endfor %}
    </div>
    <div class="grid">
    {% for key, values in task_fieldoptions.items %}
    {% for value in values %}
        <button class="button grid-item search-item {{ task_fieldnames|indexing:forloop.parentloop.counter0|indexing:1 }}" id="{{ value|task_id_gen:key }}"  onclick="single_select(this, {{ query_strings|indexing:forloop.parentloop.counter0|safe }})">{{ value.1 }} <span class="hide-this"><div class="tex2jax_ignore">{{ value.1 }}</div></span></button>
    {% endfor %}
    {% endfor %}
    </div>

{#    <div class="grid">#}
{#    {% for type in link_data %}#}
{#        <button class="button grid-item search-item dt" id={{ type.0 }} onclick="sel_desel(this)">{{ type.1 }}</button>#}
{#    {% endfor %}#}
{#    {% for prop in link_props %}#}
{#        <button class="button grid-item search-item props" id={{ prop.0 }} onclick="sel_desel(this)">{{ prop.1 }}</button>#}
{#    {% endfor %}#}
{#    </div>#}
{#    <button id='submit' class='button' onclick="setTimeout(function(){location.href=generate([{{ link_data|id_names:0|safe }}, {{ link_props|id_names:0|safe }}, {{ filter_options|safe }}]);},500);">Submit</button>#}
{#{% for key, values in task_fieldoptions.items %}#}
{#    <p>{{ task_fieldnames|indexing:forloop.counter0|indexing:0 }}</p>#}
{#    <ul>#}
{#    {% for value in values %}#}
{#        <li><button id="{{ value|task_id_gen:key }}" onclick="single_select(this, {{ query_strings|indexing:forloop.parentloop.counter0|safe }})">{{ value.1 }}</button></li>#}
{#    {% endfor %}#}
{#    </ul>#}
{#{% endfor %}#}

<button id="submit" class="button" onclick="setTimeout(function(){location.href=generate_task();},500);">Submit</button>
    {% if results %}
    <div id="results">
    <div class="hero-text-box">
        <h1 class="fancy">Filtered Results</h1>
    </div>
    <ul>
        {% for result in results %}
            <li><button class='button' onclick="setTimeout(function(){location.href=generate_url({{ result.task_id }}, '{{ reroute_string }}');},500);">{{result.task_name}}</button></li>
        {% endfor %}
    </ul>
    </div>
    {% endif %}

<script>

function generate_task(el) {
    var url_path;
    /* Base url path has been defined. After that link_data|id_names:0 will return the list of element ids on the
    page following which we get each element by id after typecasting it to a string (this is necessary because otherwise
    if you check the generated source code you will see that there are no quotes around the id name and this raises
    a getElementById null error. The query_update filter will append =Yes& to the id field. Then the string is returned
    at the end. */
    /* Can't just directly use location.href and keep appending to that because otherwise every time the page is loaded
    the previous parameters will get retained regardless of whether the user has selected them or not. So we split the
    URL at the first occurrence of the ? (after which the previously selected parameters will be found) and retain
    only the 0th element of the split which corresponds to the base URL we want. */
    url_path = location.href.split('?')[0] + "?";
    console.log(url_path);

    {% for id_sets in query_strings %}
        {% for elem_id in id_sets %}
                if (document.getElementById("{{ elem_id|safe }}").value == 1) {
            url_path += "{{ elem_id|safe }}=Yes&";
    }
        {% endfor %}
    {% endfor %}
    {% for elem_id in filter_options %}
    if (document.getElementById("{{ elem_id }}").value == 1) {
        url_path += "{{ elem_id }}=Yes&";
    }
    {% endfor %}

    //console.log(url_path);
return url_path;
}
</script>
{% endblock %}